<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="style/new.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <title>Cook For Life</title>
  </head>
  <body>
    <header id="header" class="container-fluid">
      <div class="row" style="height:100px">
        <div class="col logo">
          <img src="image/logo.png" alt="logo.png">
          <span class="site-name">Cook For Life</span>
          <small class="site-slogan">食譜分享 x 廚藝交流</small>
        </div>
        <div class="col-6 search">
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">分類</button>
              <div class="dropdown-menu" style="display:;margin-left:257px;">
                <a class="dropdown-item" href="#">全部</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <!-- <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a> -->
              </div>
            </div>
            <a href="#" class="btn btn-danger">
              <img src="image/magnifier.png" alt="" srcset="">
              搜尋
            </a>
          </div>
        </div>
        <div class="col user-operation">
          <span>Hi! 歡迎使用。</span>
          <button type="button" class="btn btn-success">
            <img src="image/edit.png" alt="edit">
            發表食譜
          </button>
        </div>
      </div>
      <div class="row" style="height:30px">
        <div class="col-4 search-order">
          <span class="span-order">排序 : </span>
          <a href="#" class="btn btn-outline-warning btn-sm">人氣</a> 
          <a href="#" class="btn btn-outline-primary btn-sm ">精選</a>
          <a href="#" class="btn btn-outline-danger btn-sm ">好康</a>
          <a href="#" class="btn btn-outline-success btn-sm ">活動</a>
          <a href="#" class="btn btn-outline-dark btn-sm ">時間</a>
        </div>
        <div class="col-6 hot-keyword">
            <small class="span-keyword" style="color:#fc5c5c; font-weight: bold; font-size:0.95rem">熱搜 : </small>
            <a href="">年菜</a>
            <a href="">圍爐</a>
            <a href="">除夕夜</a>
            <a href="">火鍋</a>
            <a href="">關東煮</a>
            <a href="">湯圓</a>
            <a href="">元宵</a>
            <a href="">烘焙</a>
            <a href="">蛋糕</a>
            <a href="">麵包</a>
        </div>
      </div>
    </header>
    <div id="main-content" class="container-fluid">
      <div class="row">
        <div class="col-8">
          <div class="popular-list">
            <h4 class="head king-title">人 氣 食 譜<a class="more" href="#" title="更多">more</a></h4>
            <ul>
              <li>item1</li>
              <li>item2</li>
              <li>item3</li>
            </ul>
          </div>
          <div class="recommend-list">
              <h4 class="head thumb-title">本 月 精 選<a class="more" href="#" title="更多">more</a></h4>
              <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
              </ul>
          </div>
          <div class="newest-list">
              <h4 class="head newest-title">最 新 發 布<a class="more" href="#" title="更多">more</a></h4>
              <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
              </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="ad-list">
            <h4 class="head ad-title">好 康 報 乎 你 知<a class="more" href="#" title="更多">more</a></h4>
            <ul>
              <li>廣告1</li>
              <li>廣告2</li>
              <li>廣告3</li>
              <li>廣告4</li>
              <li>廣告5</li>
            </ul>
          </div>
          <div class="act-list">
            <h4 class="head">活 動 專 區<a class="more" href="#" title="更多">more</a></h4>
            <ul>
              <li>關鍵字1</li>
              <li>關鍵字2</li>
              <li>關鍵字3</li>
              <li>關鍵字4</li>
              <li>關鍵字5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="container-fluid">
      <ul class="social-media">
        <li class="site-logo">
          <img class="logo" src="image/footer-logo.png" alt="logo">
          <span class="site-name">Cook For Life</span>
          <small class="site-slogan">食譜分享 x 廚藝交流</small>
        </li>
        <li><a href="#"><img src="image/fb-icon.png" alt="fb"></a></li>
        <li><a href="#"><img src="image/instagram.png" alt="ig"></a></li>
        <li><a href="#"><img src="image/twitter.png" alt="twitter"></a></li>
        <li><a href="#"><img src="image/google-plus.png" alt="google+"></a></li>
      </ul>
      <ul class="contact-infor">
      <li class="about"><a href="#">關於本站</a> </li>
      <li class="legal"><a href="#">服務條款</a></li>
      <li class="problem"><a href="#">問題回報</a></li>
      <li class="contact"><a href="#">聯繫資訊(歡迎邀約面試)</a></li>
      </ul>
      <p class="waring">本網站僅作為面試 Demo 使用請勿拷貝、盜用作為商業用途。</p>
      <p>Copyright &copy; <span> 2018-2019 </span>CookForLife Inc.</p>
    </footer>
  </body>
</html>